<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js' %>
</head>
<body>
  <h1>Dashboard</h1>
  <%= pie_chart @clients.pluck(:nome, :valor) %>
   <div>
    <h2>Total de Lucro: <td><%= number_to_currency(@clients.sum { |client| client.deposits.sum(:valor) }, unit: 'R$', precision: 2) %></td></h2>

  <ul>
    <% @clients.each do |client| %>
      <li><%= client.nome %> - <%= number_to_currency(client.deposits.sum(:valor), unit: 'R$', precision: 2) %></li>
    <% end %>
  </ul>

  </div>
</body>
</html>
