<!DOCTYPE html>
<html>
  <head>
    <title>General</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="sidenav">
      <%= link_to 'Dashboard', dashboard_path%>
      <%= link_to 'Novo cliente', new_client_path%>
      <%= link_to 'Listar clientes', clients_path%>
    </div>

    <div class="main">
            <%= yield %>
    </div>
  </body>
</html>
